body {
    margin: 0;
    /* font-family: Montserrat; */
    font-family: Roboto;
}
a:visited {
    color: inherit;
}
@font-face{
	font-family:Roboto;
	src:url(../fonts/Roboto-Black.woff2) format("woff2"),url(../fonts/Roboto-Black.woff) format("woff"),url(../fonts/Roboto-Black.ttf) format("truetype");
	font-weight:900;
	font-style:normal
}
@font-face{
	font-family:Roboto;
	src:url(../fonts/Roboto-Bold.woff2) format("woff2"),url(../fonts/Roboto-Bold.woff) format("woff"),url(../fonts/Roboto-Bold.ttf) format("truetype");
	font-weight:700;
	font-style:normal
}
@font-face{
	font-family:Roboto;
	src:url(../fonts/Roboto-Medium.woff2) format("woff2"),url(../fonts/Roboto-Medium.woff) format("woff"),url(../fonts/Roboto-Medium.ttf) format("truetype");
	font-weight:500;
	font-style:normal
}
@font-face{
	font-family:Roboto;
	src:url(../fonts/Roboto-Regular.woff2) format("woff2"),url(../fonts/Roboto-Regular.woff) format("woff"),url(../fonts/Roboto-Regular.ttf) format("truetype");
	font-weight:400;
	font-style:normal
}
@font-face{
	font-family:Roboto;
	src:url(../fonts/Roboto-Light.woff2) format("woff2"),url(../fonts/Roboto-Light.woff) format("woff"),url(../fonts/Roboto-Light.ttf) format("truetype");
	font-weight:300;
	font-style:normal
}
@media (max-width: 1340px) {
    /* стили для ноутбуков */

}
@media screen and (max-width: 991px) {
    /* стили для больших планшетов */
    
}    
@media screen and (max-width: 767px) {
    /* стили для средних планшетов */

}
@media screen and (max-width: 479px) {
    /* стили для телефонов */
    
}
@media screen and (max-width: 320px) {

}