.wrapper-banner {    
    margin: 22px auto;
    width: 100%;
}
/* .slider{
    background: url('../content/slider1.jpg') no-repeat;
    background-size: contain;
    /* width: 1280px; 
    height: 530px;
    margin: 0 auto;
} */
.banner__button-wrapper {
    display: flex;
    justify-content: center;
    width: 68px;
    margin: 0 auto;
}
.button{
    /* background: url('../content/button.png') center no-repeat; */
    min-width: 26px;
    height: 26px;
    /* padding: 5px; */
    background: #EF0E15;
    /* border-radius: 50%; */
    margin: 20px;
    cursor: pointer;
}
.button-active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1340px) {
    /* стили для ноутбуков */

}
@media screen and (max-width: 991px) {
    /* стили для больших планшетов */
    .slider .item img {
        border-radius: 0px;
    }
}    
@media screen and (max-width: 767px) {
    /* стили для средних планшетов */

    .slider { 
        width: 479px;
        height: 125px;
    }
}
@media screen and (max-width: 479px) {
    /* стили для телефонов */
    
}
@media screen and (max-width: 320px) {

}




/* взял из примера */
/* Слайдер: */
.slider{
    /* Положение элемента устанавливается относительно его исходной позиции: */
    position: relative;
    /* Центрируем по горизонтали: */
    margin: auto;
    height: 300px;
}

/* Картинка масштабируется по отношению к родительскому элементу: */
.slider .item img {
    /* Элемент меняет размер так, чтобы заполнить блок и сохранить пропорции: */
    object-fit: cover;
    width: 100%;
    height: 300px;
    /* border-radius: 60px; */
}

/* Кнопки назад и вперёд: */
.slider .previous, .slider .next {
    /* Добавляет курсору иконку, когда тот оказывается над кнопкой: */
    cursor: pointer;
    /* Положение элемента задаётся относительно границ браузера: */
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    /* Оформление самих кнопок: */
    color: white;
    font-weight: bold;
    font-size: 16px;
    /* Плавное появление фона при наведении курсора: */
    transition: 0.6s ease;
    /* Скругление границ: */
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* При наведении курсора на кнопки добавляем фон кнопок: */
.slider .previous:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Анимация слайдов: */
/*.slider */.item {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    /* Устанавливаем и изменяем степень прозрачности: */
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}