.catalog{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 85px 0;
}
.catalog__name {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}
.category{
    /* display: flex; */
    border-radius: 10px;
    text-decoration: underline;
    color: #3E8CC7;
    border: 1px solid #BDDCEE;
    margin: 30px;
    min-width: 45%;
}
.name-category{
    font-size: 24px;
    /* margin-bottom: 50px; */
}
.category__text-wrapper {
    display: flex;
}
.category-logo {
    width: 330px;
    height: 267px;
    background: top center;
}
.category-logo1 {
    background: url('../content/cat1.jpg') center no-repeat;
}
.category-logo2 {
    background: url('../content/cat2.jpg') center no-repeat;
}
.category-logo3 {
    background: url('../content/cat3.jpg') center no-repeat;
}
.category-logo4 {
    background: url('../content/cat4.jpg') center no-repeat;
}
.category-logo5 {
    background: url('../content/cat5.jpg') center no-repeat;
}
.type{
    font-size: 18px;
    font-family: Montserrat;
}
@media (max-width: 1340px) {
    /* стили для ноутбуков */

}
@media screen and (max-width: 991px) {
    /* стили для больших планшетов */
    
}    
@media screen and (max-width: 767px) {
    /* стили для средних планшетов */

}
@media screen and (max-width: 479px) {
    /* стили для телефонов */
    
}
@media screen and (max-width: 320px) {

}