.developer {
    text-align: right;
}
.developer, .owner {
    color: #4F4F4F;
    width: 50%;
    margin: 30px 0px;
}
footer {
    display: flex;
    /* width: 1240px; */
    /* margin: 0 auto; */
    font-size: 11px;
}
@media (max-width: 1340px) {
    /* стили для ноутбуков */

}
@media screen and (max-width: 991px) {
    /* стили для больших планшетов */
    
}    
@media screen and (max-width: 767px) {
    /* стили для средних планшетов */

}
@media screen and (max-width: 479px) {
    /* стили для телефонов */
    
}
@media screen and (max-width: 320px) {

}