header {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 12px 15px;
    max-width: 1636px;
    margin: 0 auto;
}
.logo {
    display: flex;
    /*align-items: center;*/
}
.logo-icon {
    background: url('../content/logo-company.png') no-repeat;
    width: 115px;
    height: 95px;
    text-decoration: none;
}
.logo-text {
    font-size: 36px;
    font-weight: bold;
    color: #4F4F4F;
    margin-top: 24px;
}
.contacts{
    font-size: 18px;
    line-height: 21px;
    /* text-align: right; */
    color: #000000;
}
.contacts__adress, .contacts__time {
    display: flex;
    /* -webkit-align-items: center; */
}
.contacts__adress {
    margin-left: 59px;
}
.contacts__adress-wrapper, .contacts__time-wrapper {
    /* display: flex;
    align-items: center; */
    margin-left: 5px;
    font-size: 18px;
}
.contacts__adress-wrapper {
    margin-left: 6px;
}
.contacts__adress-logo {
    background: url('../content/contacts__adress-logo.png');
    width: 20px;
    height: 20px;
    margin-top: -2px;
    margin-left: -1px;
}
.contacts__adress-link {
    color: #208AC9;
    margin-top: -1px;
    display: block;
}
.contacts__adress-link:visited {
    color: #208AC9;
}
.contacts__time-logo {
    background: url('../content/contacts__time-logo.png') 0px -3px no-repeat;
    width: 24px;
    height: 24px;
}
.contacts__back-call{
    display: flex;
    align-items: center;
    color: #3E8CC7;
    justify-content: flex-end;
}
.contacts__phones {
    font-size: 18px;
}
.contacts__phones__higher {
    font-size: 24px;
}
.button-back-call:visited {
    color: #3E8CC7;
}
.icon-back-call {
    background: url('../content/icon-back-call.png');
    width: 42px;
    height: 42px;
}
@media (max-width: 1340px) {
    /* стили для ноутбуков */

}
@media screen and (max-width: 991px) {
    /* стили для больших планшетов */
    .contacts__adress {
        display: none;
    }
    .contacts__time {
        display: none;
    }    
    .logo-text { 
        font-size: 22px;
    }
}    
@media screen and (max-width: 767px) {
    /* стили для средних планшетов */
}
@media screen and (max-width: 479px) {
    /* стили для телефонов */
    
}
@media screen and (max-width: 320px) {

}