.map{
    width: 100%;
    height: 100%;
    position: relative;
}
.map__contacts/*,
.map__ya-map*/ {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.map__contacts {
  /* z-index: 10; */
  padding: 20px;
  width: 520px;
  height: 50px;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;  
  box-shadow: 0px 0px 10px 1px;
  left: 0;
  right: 0;
  top: -25px;
}
.map__adress{
    /* width: 450px;
    margin: 0 auto; */
}
.map__adress-logo{
    background: url('../content/map__adress-logo.png');
}
.map__email-phone {
    display: flex;
    justify-content: center;
}
.map__adress {
    display: flex;
}
.map__email, .map__phone{
    display: flex;
    align-items: center;
}
.map__email-logo, .map__adress-logo, .map__phone-logo{
    width: 24px;
    height: 25px;
}
.map__email-logo{
    background: url('../content/map__email-logo.png');
}
.map__phone-logo{
    background: url('../content/map__phone-logo.png');
}
.map__ya-map{
    background: url('../content/map__ya-map.jpg') center;
    background-size: cover;
    width: 100%;
    height: 411px;
}
@media (max-width: 1340px) {
    /* стили для ноутбуков */

}
@media screen and (max-width: 991px) {
    /* стили для больших планшетов */
    
}    
@media screen and (max-width: 767px) {
    /* стили для средних планшетов */

}
@media screen and (max-width: 479px) {
    /* стили для телефонов */
    
}
@media screen and (max-width: 320px) {

}