
.wrapper__top-menu {
    background: #CED2D6;
    margin-top: 6px;
}
.top-menu{
    display: flex;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
    max-width: 1606px;
    margin: 0 auto;
    text-transform: uppercase;
}
.menu-Mobile {
    display: flex;
    padding-left: 27px;
}
/*
lower priority then .menu a
.menu-Mobile > a {
    margin-right: 40px;;
} */
.menu {
    display: flex;
}
.menu a {
    margin-right: 40px;
    text-decoration: none;
    color: #000;
    white-space: nowrap;
}
.menu a:hover {
    color: #0079C1;
}
.menu a:active {
    color: #0079C1;
}
.menu a.active {
    color: #0079C1;
}
.menu a:visited {
    /* color: #A60000; */
}
/* The container <div> - needed to position the dropdown content */
.menu .drop-down {
    position: relative;
    display: inline-block;
} 
.dropbtn:hover > .drop-down__content {
    display: block;
}
/* Dropdown Content (Hidden by Default) */
.menu .drop-down__content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}  
/* Links inside the dropdown */
.menu .drop-down__content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.abs-left {
    left: 150px;
    top: 0;
}
/* Change color of dropdown links on hover */
.menu .dropdown__content a:hover {
    background-color: #ddd;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.menu .drop-down:hover .dropbtn {
      background-color: #3e8e41;
}

/* Dropdown Content (Hidden by Default) */
.menu .drop-down__content .drop-down {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}  

.search {
    display: flex;
    align-items: center;
    margin: 6px;
    width: 100%;
    height: 41px;
    border: solid 1px #E0E0E0;
    background-color: #FAFAFA;
}
.search__logo {
    background: url('../content/search-logo.png');
    /* возможно сплющена фотка */
    width: 17px;
    height: 19px;
    margin: 10px;
}
.busket{
    display: flex;
    align-items: center;
}
.busket__button{
    /* text-decoration: none; */
    color: #057CC2;
}
.busket__button:visited {
    color: #057CC2;
}
.busket__logo{
    background: url('../content/busket__button.png');
    width: 24px;
    height: 24px;
    margin: 10px;
}
@media (max-width: 1340px) {
    /* стили для ноутбуков */

}
@media screen and (max-width: 991px) {
    /* стили для больших планшетов */
    .menu {
        position: relative;
    }
    /* .menu {
        position: relative;
        background: #000;
        width: 30px;
        height: 4px;
        border-radius: 10px;
    }
    .menu:before {
        content: "";
        position: absolute; 
        top: -8px;
        background: #000;
        width: 30px;
        height: 4px;
        border-radius: 10px;
    }
    .menu:after {
        content: "";
        position: absolute;
        bottom: -8px;
        background: #000;
        width: 30px;
        height: 4px;
        border-radius: 10px;
    } */
    .dropbtn:hover
    .dropbtn:not(.nohover):hover {
        display: none;
      }
    .menu-Mobile > * {
        display: none;
    }
    .burger{
        /* position: absolute;
        right: 10px;
        top: 10px; */
        width: 30px;
        height: 20px;
        cursor: pointer;
        margin-top: 20px;
        margin-left: 10px;
        position: relative;
      }
      .burger span, .burger span:before, .burger span:after{
        width: 100%;
        position: absolute;
        height: 4px;
        background: #333;
        display: block;
        transition: .3s;
        border-radius: 5px;
      }
      .burger span:before{
        content: "";
        top: -8px;
        transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      .burger span{
        /* top: 20px; */
      }
      .burger span:after{
        content: "";
        bottom: -8px;
        transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      .burger span.active:before{
        content: "";
        top: 0px;
        transform: rotate(45deg);
        transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      .burger span.active:after{
        content: "";
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      .burger span.active{
        background: rgba(255, 255, 255, 0); 
      }
      .activeMenu {
          display: block;
          position: fixed;
          top: 186px;
          left: 0;
          right: 0;
          z-index: 10;
          background: #fff;
      } 
      .activeMenu > a {
          display: block;
          
      } 
}    
@media screen and (max-width: 767px) {
    /* стили для средних планшетов */

}
@media screen and (max-width: 479px) {
    /* стили для телефонов */
    
}
@media screen and (max-width: 320px) {

}